* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue: #5175ff;
    --blue-light: #829cff;
    --dark: #25293a;
    --dark-light: #333950;
    --gray: #747b95;
    --tomato: #f05b5b;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--dark);
}

.centered-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 12px;
}
.hero-container {
    overflow-x: hidden;
    position: relative;
    padding-top: 100px;
}

.header-img {
    position: absolute;
    right: -300px;
    top: -300px;
    z-index: -1;
}

.hero-content {
    margin-top: 40px;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-text-container h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 12px;
}

.hero-text-container p {
    color: var(--gray);
    line-height: 25px;
    margin-bottom: 20px;
}

button {
    border: none;
    border-radius: 999px;
    padding: 14px 30px;
    background-color: var(--blue);
    color: white;
    font-weight: 600;
}

.cards-container {
    display: flex;
    gap: 20px;
    transform: translateY(50%);
}

.card {
    border-radius: 12px;
    background: #ffffff;
    /* border: solid 1px black; */
    text-align: center;
    padding: 15px 5px;
    flex: 1;
    color: var(--dark-light);
}

.card h3 {
    margin-bottom: 32px;
    font-size: 16px;
}

.card h2 {
    margin-bottom: 6px;
    font-size: 42px;
}

.card h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.card-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--gray);
    margin-bottom: 40px;
}

.card-blue {
    background-color: var(--blue);
    color: white;
}

.card-blue .card-paragraphs {
    color: white;
}

footer {
    padding: 300px 0px 100px;
    background-color: var(--dark);
    color: white;
}

@media screen and (max-width: 768px) {
    .hero-container {
        padding: 30px;
    }
    .hero-logo {
        margin: 0 auto;
        display: block;
    }

    .hero-content {
        text-align: center;
        flex-direction: column-reverse;
    }

    .hero-img img {
        width: 200px;
    }

    .header-img {
        right: 50%;
        transform: translateX(50%);
    }
}
